[submodule "heitepriem.dev/themes/hugo-coder"]
	path = heitepriem.dev/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "heitepriemdev/themes/hugo-coder"]
	path = heitepriemdev/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
